site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.local
build/
*.vcd
*.fsdb
*.log
*.out
*.jou
*.o
uart
work-ver/*
corev_apu/fpga/work-fpga
corev_apu/fpga/reports/
corev_apu/fpga/scripts/add_sources.tcl
corev_apu/fpga/ariane.xpr
corev_apu/fpga/ariane.cache/
corev_apu/fpga/ariane.hw/
corev_apu/fpga/.Xil/
corev_apu/fpga/mode*
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
install/
xrun_results/
/core/include/hwconfig_config_pkg.sv
__pycache__
.bender/
Bender.lock
/tools/
/util/gcc-toolchain-builder/src/
/util/gcc-toolchain-builder/build/
# Both following lines are needed to list contents of ISA manual build dir.
!/vendor/riscv/riscv-isa-manual/build/
!/vendor/riscv/riscv-isa-manual/build/*
corev_apu/intel/dni*
corev_apu/intel/output_files*
corev_apu/intel/qdb*
corev_apu/intel/tmp*
corev_apu/intel/*.hex
corev_apu/intel/*.qpf
corev_apu/intel/*.qsf
corev_apu/intel/*.summary
corev_apu/intel/*.chg
corev_apu/intel/*.txt
corev_apu/intel/*.backup
corev_apu/intel/*.rpt
corev_apu/intel/*.qws
corev_apu/altera/dni*
corev_apu/altera/output_files*
corev_apu/altera/qdb*
corev_apu/altera/tmp*
corev_apu/altera/*.hex
corev_apu/altera/*.qpf
corev_apu/altera/*.qsf
corev_apu/altera/*.summary
corev_apu/altera/*.chg
corev_apu/altera/*.txt
corev_apu/altera/*.backup
corev_apu/altera/*.rpt
corev_apu/altera/*.qws
corev_apu/riscv-dbg/src/dmi_vjtag_tap.sv
corev_apu/riscv-dbg/src/dmi_vjtag.sv
corev_apu/altera/ip/io_pll_test/*
corev_apu/altera/ip/io_pll_test*
corev_apu/altera/ip/.qsys_edit/io_pll_test*
corev_apu/altera/ip/.qsys_edit/preferences.xml



